@{
    ViewBag.Title = "Home Page";
}

<main>


    <div class="row">
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Memers</h2>
            <p></p>
            <p><a class="btn btn-outline-dark" href="https://localhost:44399/Home/Members">Show Members &raquo;</a></p>
        </section>


        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Offers</h2>
            <p></p>
            <p><a class="btn btn-outline-dark" href="https://localhost:44399/Home/Offers">Show offers &raquo;</a></p>
        </section>


        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Services</h2>
            <p>
            </p>
            <p><a class="btn btn-outline-dark" href="https://localhost:44399/Home/services">Show services&raquo;</a></p>
        </section>

        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Reports</h2>
            <p>.</p>
            <p><a class="btn btn-outline-dark" href="https://localhost:44399/Home/Reports">Show Reports &raquo;</a></p>
        </section>
    </div>

    <div>
        <p><a class="" href="https://localhost:44399/Home/logout">Home &raquo;</a></p>
        <p><a class="" href="https://localhost:44399/Home/logout">Change password &raquo;</a></p>
        <p><a class="" href="https://localhost:44399/Home/logout">logout &raquo;</a></p>
    </div>
</main>